@media only screen and (min-width: 768px) {
    .content {
        padding: 32px;
    }

    .search {
        position: relative;
        background-color: var(--bgcolor);
        border: none;
        margin: 0;
        margin-left: 40px;
        transition: 0s;
    }

    .search input[type='text']{
        padding: 0;
        height: 56px;
        background: rgba(255, 255, 255, 0.16);
        border-radius: 8px;
        transition: 0s;
    }

    .btn-success {
        display: inline-block;
        height: 45px;
    }

    #close-search {
        display: none;
        width: 0;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    }
}

@media only screen and (min-width: 1440px) {

    .main {
        display: grid;
        grid-template-columns: 20% 50% 25%;
        column-gap: 2%;
        box-sizing: border-box;
    }

    .sidepanel {
        position: relative;
        width: 100%;
        background-color: var(--bgcolor);
        max-width: 300px;
    }
 
    .btn-container {
        display: flex;
        flex-direction: column;
        column-gap: 10px;
    }    

    #peronalization {
        display: flex ;
        flex-direction: column;
    }

    .personalization-controls {
        display: flex !important;
        flex-direction: column;
    }

    .closebtn {
        display: none !important;
    }

    .menu-search {
        display: none;
    }
}