.search {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 18px;
    border: none;
    width: 100%;
    padding: 0;
    background-color: #000;
    opacity: 0.9;
    transition: .3s;
    margin-top: -100px;
    border-bottom: 1px solid #f1f1f1;
}

.search input[type='text']{
    width: 100%;
    padding: 0;
    border: none;
    background-color: #000;
    height: 80px;
    font-size: 18px;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
    width: 90%;
}

.search input[type='text']::placeholder {
    color: #fff;
    opacity: 0.2;
    padding-left: 15px;
    font-size: 16px;
}

.search input[type='text']:focus{
    outline:none;
}
