:root{
    --bgcolor: #051D3B;
    --btncontainer: #6BD1FF;
    --bgcontainer-secondary: #FF6BCD;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body, h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 100%;
}

body {
    background: var(--bgcolor);
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.header a {
    display: inline-block;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px 0 16px;
}

.menu-search {
    text-align: right;
}

.header button {
    border: none;
    background: var(--bgcolor);
    color: #fff;
    font-size: 18px;
    justify-items: flex-end;
}

.code-container {
    background: #6BD1FF;
    padding: 16px;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 32px;
}

.code-text {
    padding: 16px;
    background: #000;
    border-radius: 8px;
}

.btn-primary {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    background: rgba(80,129,251, 0.2);
    color: #FFFFFF;
    border: none;
    font-weight: 500;
}

.btn-primary::placeholder{
    color: #fff;
}

#project {
    margin-top: 40px;
    margin-bottom: 40px;
}

.title {
    padding-bottom: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.4em;
}

.control::placeholder {
    color: rgba(255,255,255, 0.5);
}

.control {
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 16px;
    color: rgba(255, 255, 255, 0.4);
    background: rgba(255,255,255,0.2);
}

option { background: var(--bgcolor); color: #fff; border: none; padding: 8px }

#project input {margin-bottom: 16px;}

#project button {
    width: 100%;
}

.personalization-controls {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.colors {
    border: 1px solid #fff;
    width: 100%;
    padding: 8px;
    background: var(--bgcolor);
    border-radius: 8px;
    box-sizing: border-box;
}

.colors span {
    display: block;
    padding: 16px;
    background-color: #6BD1FF;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}

.colors span:hover {
    cursor: pointer;
}


.btn-success  {
    border: none;
    background: #5081FB;
    font-size: 16px;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    color: #051D3B;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}